ai_ml/yolo11n.pt
.env
.idx
backend/app/__pycache__/
backend/app/api/__pycache__/
*.pyc
yolo11n.pt
backend_fm/data/.clip/ViT-B-32.pt
backend_fm/app/services/__pycache__/
backend_fm/__pycache__/
backend_fm/app/__pycache__/
backend_fm/app/api/__pycache__/

__pycache__/
__init__.pyc
*.pyc
backend_fm/__pycache__/__init__.cpython-313.pyc
backend_fm/app/__pycache__/__init__.cpython-313.pyc
backend_fm/app/__pycache__/main.cpython-313.pyc
backend_fm/app/api/__pycache__/__init__.cpython-313.pyc
backend_fm/app/api/__pycache__/routes.cpython-313.pyc
